@{
    var db = new LinkBox.Contexts.LinkboxDbContext();
    var config = db.Configs.FirstOrDefault();

}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>@(config?.Title) - @(config?.Name)</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <!--  <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css">
</head>

<body>


    <div class="page-header" style="margin-top:0px">
        <div class="container">
            <h1>@(config?.Name)</h1>
            <p>@(config?.Title)</p>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>


    <div class="navbar">

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
