@page
@using LinkBox.Models;
@model IndexModel
@{
	ViewData["Title"] = LinkBoxData.Config.Name;
}

<div class="container">
	<div class="module-container" id="search-container">
		<form action=/ method=POST>
			<input name=search id=search autocomplete=off autofocus placeholder=&#32;>


			<label for=search id=search-label>书签太多？试试搜索你想寻找的书签吧 :)</label
		></form>
	</div>
	<div class=module-container id=hero-container>
		<div id=plugin-datetime>
			<p>
				<span>@(DateTime.Now.ToString("yyyy年MM月dd日"))</span>
				<span>@(DateTime.Now.DayOfWeek switch { DayOfWeek.Monday => "星期一", DayOfWeek.Tuesday => "星期二", DayOfWeek.Wednesday => "星期三", DayOfWeek.Thursday => "星期四", DayOfWeek.Friday => "星期五", DayOfWeek.Saturday => "星期六", DayOfWeek.Sunday => "星期天", _ => "" })</span>
				<span>@(DateTime.Now.ToString("HH:mm:ss"))</span>
			</p>
			<h1 class=plugin-container id=plugin-greetings>Hello World</h1>
		</div>
	</div>



	<div class=plugin-container id=container-apps>
		@foreach (var cate in LinkBoxData.Categories.Where(x => x.Type == Entities.Enums.CategoryTypeEnum.App))
		{
			<h2><a href=/applications>@(cate.Name)</a></h2>
			<div class="apps-container clearfix">
				@foreach (var link in LinkBoxData.Links.Where(x => x.CategoryId == cate.Id))
				{
					<div class="app-container" data-id="evernote">
						<a target="_blank" rel="noopener" href="@link.Url" class="app-item" title="@link.Title">
							<div class="app-icon">
								<img src="@(link.Icon)" alt="@link.Title" />
							</div>
							<div class="app-text">
								<p class="app-title">@link.Title</p>
								<p class="app-desc">@link.Description</p>
							</div>
						</a>
					</div>
				}
			</div>
		}

	</div>
	<div class="plugin-container clearfix" id=container-bookmakrs>
		<h2><a href=/bookmarks>书签</a></h2>
		@foreach (var cate in LinkBoxData.Categories.Where(x => x.Type == Entities.Enums.CategoryTypeEnum.BookMark))
		{
			<div class="bookmark-group-container pull-left">
				<h3 class="bookmark-group-title">@(cate.Name)</h3>
				<ul class="bookmark-list">
					@foreach (var link in LinkBoxData.Links.Where(x => x.CategoryId == cate.Id))
				{
					<li>
						<a target="_blank" rel="noopener" href="@(link.Url)" class="bookmark">
								<img src="@(link.Icon)" alt="@link.Title" />
							<span>@(link.Title)</span>
						</a>
					</li>
				}
				</ul>
			</div>
		}
	</div>

</div>